Django==1.6
South
ordereddict
simplejson
django-compressor
BeautifulSoup4
urllib3
django-templatetag-handlebars
AuthZ-Group==1.1.2
Django-UserService==1.0.2
unittest2
# If you're using a MySQL database, you may also need mysql-python
# mysql-python
-e git+https://github.com/mstone121/uw-restclients.git@develop#egg=RestClients
-e git+https://github.com/mstone121/django-mobileesp/#egg=django_mobileesp
-e git+https://github.com/mstone121/django-supporttools.git#egg=SupportTools
-e git+https://github.com/mstone121/permissions_logging#egg=PermissionsLogging
-e git+https://github.com/mstone121/django_client_logger#egg=django_client_logger
-e git+https://github.com/mstone121/myuw.git@master#egg=MyUW
selenium
